@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.recipe-card {
	width: 200px;
	height: 380px;
	background-color: $ACCENT-THREE;
	border-radius: 1.25rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;

	&:hover {
		background-color: $ACCENT-TWO;
		color: $PRIMARY-BG;
		transition: transform 0.3s ease;
		transform: scale(1.05);
	}

	&__img {
		border-radius: 1.25rem;
		height: 10rem;
		object-fit: content;
	}
	&__details {
		display: flex;
		justify-content: space-between;
		margin-top: 0.25rem;
		& > p {
			margin: 0;
			width: 50%;
			text-align: right;
			font-size: 1rem;
		}
	}

	&__title{
		min-height: 3.6rem;
		margin-bottom: 0.5rem;
		@include tablet{
			min-height: 4.375rem;
		}
	}
}
