//Margins
$MOBILE-MARGIN: 1rem;
$TABLET-MARGIN: 2em;
$DESKTOP-MARGIN: 8.125rem;

//Colors
$PRIMARY-BG: #ffffff;
$HEADER-TXT: #3D405B;
$BODY-TXT: #333333;
$ACCENT-ONE: #A8D5BA;
$ACCENT-TWO: #E07A5F;
$ACCENT-THREE: #f1e2c7;
$BORDERS: #c8c8c8;

//Breakpoints
$TABLET-BREAKPOINT: 48rem;
$DESKTOP-BREAKPOINT: 80rem;